# Ignorar todo por defecto
*

# Permitir únicamente las carpetas deseadas
!hypr/
!neofetch/
!htop/
!kitty/
!nvim/
!starship/
!waybar/
!wofi/

# Opcional: Permitir archivos dentro de esas carpetas
!hypr/**
!neofetch/**
!htop/**
!kitty/**
!nvim/**
!starship/**
!waybar/**
!wofi/**

