baloofilerc/
bluedevilglobalrc/
chromium/
Code/
dconnf/
discord/
discordcanary/
dolphinrc/
Electron/
glib-2.0/
go/
Google/
gtkrc/
gtkrc-2.0/
kactivitymanagerdrc/
kacttivitymanagerd-statsrc/
kconf_updaterc/
KDE/
kded5rc/
kded6rc/
kdedefaults/
kdeglobals/
kde.org/
kglobalshortcutsrc/
konsolerc/
konsolesshconfig/
ksmserverrc/
ktimezonedrc/
kwinoutputconfig.json/
kwinrc/
libaccounts-glib/
libreoffice/
menus/
obsidian/
obs-studio/
plasma-localerc/
plasma-org.kde.plasma.desktop-appletsrc/
plasmarc/
plasmashellrc/
plasma-welcomerc/
powermanagementprofilesrc/
pulse/
QtProject.conf/
session/
spotify/
StardewValley/
systemd/
systemsettingsrc/
Trolltech.conf/
unity3d/
user-dirs.dirs/
user-dirs.locale/
vlc/
xsettingsd/
yay/
zen/
